In [17]:
import pandas as pd
import numpy as np

df = pd.read_csv('./exercises/earthquakes.csv')

In [18]:
filtered_df = df.query("parsed_place == 'Japan'and mag >= 4.9and magType == 'mb'")

print(filtered_df)

      mag magType           time                         place  tsunami  \
1563  4.9      mb  1538977532250  293km ESE of Iwo Jima, Japan        0
2576  5.4      mb  1538697528010    37km E of Tomakomai, Japan        0
3072  4.9      mb  1538579732490     15km ENE of Hasaki, Japan        0
3632  4.9      mb  1538450871260    53km ESE of Hitachi, Japan        0

     parsed_place
1563        Japan
2576        Japan
3072        Japan
3632        Japan

In [27]:
count_by_bin = (df.query("magType == 'ml'")
                .assign(mag_bin=pd.cut(df['mag'], bins=range(0, 11), right=True))
                .groupby('mag_bin')
                .size())
print(count_by_bin)

mag_bin
(0, 1]     2207
(1, 2]     3105
(2, 3]      862
(3, 4]      122
(4, 5]        2
(5, 6]        1
(6, 7]        0
(7, 8]        0
(8, 9]        0
(9, 10]       0
dtype: int64

In [32]:
faang = pd.read_csv('./exercises/faang.csv')
faang['date'] = pd.to_datetime(faang['date'])
faang.dtypes

ticker            object
date      datetime64[ns]
high             float64
low              float64
open             float64
close            float64
volume           float64
dtype: object

In [37]:
faang.set_index('date', inplace=True)
monthly_data = (faang.groupby('ticker').resample('M').agg({
                    'open': np.mean,
                    'high': np.max,
                    'low': np.min,
                    'close': np.mean,
                    'volume': np.sum
                }))

print(monthly_data)

                          open         high          low        close  \
ticker date
AAPL   2018-01-31    43.505357    45.025002    41.174999    43.501309
       2018-02-28    41.819079    45.154999    37.560001    41.909737
       2018-03-31    43.761786    45.875000    41.235001    43.624048
       2018-04-30    42.441310    44.735001    40.157501    42.458572
       2018-05-31    46.239091    47.592499    41.317501    46.384205
       2018-06-30    47.180119    48.549999    45.182499    47.155357
       2018-07-31    47.549048    48.990002    45.855000    47.577857
       2018-08-31    53.121739    57.217499    49.327499    53.336522
       2018-09-30    55.582763    57.417500    53.825001    55.518421
       2018-10-31    55.300000    58.367500    51.522499    55.211413
       2018-11-30    47.954881    55.590000    42.564999    47.808929
       2018-12-31    41.310789    46.235001    36.647499    41.066579
AMZN   2018-01-31  1301.377151  1472.579956  1170.510010  1309.010946
       2018-02-28  1447.113159  1528.699951  1265.930054  1442.363146
       2018-03-31  1542.160464  1617.540039  1365.199951  1540.367629
       2018-04-30  1475.841902  1638.099976  1352.880005  1468.220471
       2018-05-31  1590.474543  1635.000000  1546.020020  1594.903637
       2018-06-30  1699.088582  1763.099976  1635.089966  1698.823812
       2018-07-31  1786.305716  1880.050049  1678.060059  1784.649042
       2018-08-31  1891.957833  2025.569946  1776.020020  1897.851308
       2018-09-30  1969.239476  2050.500000  1865.000000  1966.077900
       2018-10-31  1799.630865  2033.189941  1476.359985  1782.058265
       2018-11-30  1622.323806  1784.000000  1420.000000  1625.483823
       2018-12-31  1572.922100  1778.339966  1307.000000  1559.443154
FB     2018-01-31   184.584284   190.660004   175.800003   184.962856
       2018-02-28   180.721578   195.320007   167.179993   180.269473
       2018-03-31   173.449524   186.100006   149.020004   173.489522
       2018-04-30   164.163332   177.100006   150.509995   163.810476
       2018-05-31   181.910909   192.720001   170.229996   182.930000
       2018-06-30   194.974763   203.550003   186.429993   195.267620
       2018-07-31   199.332381   218.619995   166.559998   199.967142
       2018-08-31   177.598695   188.300003   170.270004   177.492172
       2018-09-30   164.233158   173.889999   158.869995   164.377368
       2018-10-31   154.873479   165.880005   139.029999   154.187826
       2018-11-30   141.762857   154.130005   126.849998   141.635715
       2018-12-31   137.529475   147.190002   123.019997   137.161052
GOOG   2018-01-31  1127.200945  1186.890015  1045.229980  1130.770467
       2018-02-28  1088.629472  1174.000000   992.559998  1088.206839
       2018-03-31  1096.108085  1177.050049   980.640015  1091.490479
       2018-04-30  1038.415237  1094.165039   990.369995  1035.696187
       2018-05-31  1064.021376  1110.750000  1006.289978  1069.275901
       2018-06-30  1136.396182  1186.286011  1096.010010  1137.626668
       2018-07-31  1183.464280  1273.890015  1093.800049  1187.590472
       2018-08-31  1226.156951  1256.500000  1188.239990  1225.671732
       2018-09-30  1176.878424  1212.989990  1146.910034  1175.808934
       2018-10-31  1116.082172  1209.959961   995.830017  1110.940411
       2018-11-30  1054.971424  1095.569946   996.020020  1056.162394
       2018-12-31  1042.619998  1124.650024   970.109985  1037.420519
NFLX   2018-01-31   231.269525   286.809998   195.419998   232.908096
       2018-02-28   270.873158   297.359985   236.110001   271.443683
       2018-03-31   312.712859   333.980011   275.899994   312.228097
       2018-04-30   309.129524   338.820007   271.220001   307.466192
       2018-05-31   329.779541   356.100006   305.730011   331.536819
       2018-06-30   384.557143   423.209991   352.820007   384.133336
       2018-07-31   380.969526   419.769989   328.000000   381.515238
       2018-08-31   345.410001   376.809998   310.929993   346.257824
       2018-09-30   363.326843   383.200012   335.829987   362.641576
       2018-10-31   340.025218   386.799988   271.209991   335.445652
       2018-11-30   290.643335   332.049988   250.000000   290.344764
       2018-12-31   266.309474   298.720001   231.229996   265.302630

                         volume
ticker date
AAPL   2018-01-31  2.638718e+09
       2018-02-28  3.711577e+09
       2018-03-31  2.854911e+09
       2018-04-30  2.664617e+09
       2018-05-31  2.483905e+09
       2018-06-30  2.110498e+09
       2018-07-31  1.574766e+09
       2018-08-31  2.801276e+09
       2018-09-30  2.715888e+09
       2018-10-31  3.158994e+09
       2018-11-30  3.845306e+09
       2018-12-31  3.595690e+09
AMZN   2018-01-31  9.637120e+07
       2018-02-28  1.377840e+08
       2018-03-31  1.304001e+08
       2018-04-30  1.299196e+08
       2018-05-31  7.161550e+07
       2018-06-30  8.594130e+07
       2018-07-31  9.752110e+07
       2018-08-31  9.657580e+07
       2018-09-30  9.444550e+07
       2018-10-31  1.832208e+08
       2018-11-30  1.392900e+08
       2018-12-31  1.548127e+08
FB     2018-01-31  4.956557e+08
       2018-02-28  5.162516e+08
       2018-03-31  9.962017e+08
       2018-04-30  7.500727e+08
       2018-05-31  4.011441e+08
       2018-06-30  3.872656e+08
       2018-07-31  6.470307e+08
       2018-08-31  5.488327e+08
       2018-09-30  5.004688e+08
       2018-10-31  6.224463e+08
       2018-11-30  5.181517e+08
       2018-12-31  5.587862e+08
GOOG   2018-01-31  2.873840e+07
       2018-02-28  4.238200e+07
       2018-03-31  4.535330e+07
       2018-04-30  4.171590e+07
       2018-05-31  3.184940e+07
       2018-06-30  3.209600e+07
       2018-07-31  3.194010e+07
       2018-08-31  2.880840e+07
       2018-09-30  2.886240e+07
       2018-10-31  4.849470e+07
       2018-11-30  3.673510e+07
       2018-12-31  4.025760e+07
NFLX   2018-01-31  2.383776e+08
       2018-02-28  1.845858e+08
       2018-03-31  2.634494e+08
       2018-04-30  2.620060e+08
       2018-05-31  1.420508e+08
       2018-06-30  2.440318e+08
       2018-07-31  3.053938e+08
       2018-08-31  2.131223e+08
       2018-09-30  1.708321e+08
       2018-10-31  3.635898e+08
       2018-11-30  2.571264e+08
       2018-12-31  2.343100e+08

In [40]:
earthquakes = pd.read_csv('./exercises/earthquakes.csv')

crosstab_result = pd.crosstab(
    index=earthquakes['tsunami'],
    columns=earthquakes['magType'],
    values=earthquakes['mag'],
    aggfunc=np.max 
)

print(crosstab_result)

magType   mb  mb_lg    md   mh   ml  ms_20    mw  mwb  mwr  mww
tsunami
0        5.6    3.5  4.11  1.1  4.2    NaN  3.83  5.8  4.8  6.0
1        6.1    NaN   NaN  NaN  5.1    5.7  4.41  NaN  NaN  7.5

In [43]:
rolling60 = faang.groupby('ticker').apply(
    lambda x: x.rolling(window='60D').agg({
        'open': np.mean,
        'high': np.max,
        'low': np.min,
        'close': np.mean
    })
)

print(rolling60)

                         open        high         low       close
ticker date
AAPL   2018-01-02   42.540001   43.075001   42.314999   43.064999
       2018-01-03   42.836250   43.637501   42.314999   43.061249
       2018-01-04   42.935833   43.637501   42.314999   43.126666
       2018-01-05   43.041875   43.842499   42.314999   43.282499
       2018-01-08   43.151000   43.902500   42.314999   43.343500
...                       ...         ...         ...         ...
NFLX   2018-12-24  283.509251  332.049988  233.679993  281.931750
       2018-12-26  281.844501  332.049988  231.229996  280.777750
       2018-12-27  281.070489  332.049988  231.229996  280.162927
       2018-12-28  279.916342  332.049988  231.229996  279.461464
       2018-12-31  278.430770  332.049988  231.229996  277.451539

[1255 rows x 4 columns]

In [46]:
pivot_table = faang.pivot_table(index='ticker')

print(pivot_table)

              close         high          low         open        volume
ticker
AAPL      47.263357    47.748526    46.795877    47.277859  1.360803e+08
AMZN    1641.726176  1662.839839  1619.840519  1644.072709  5.648994e+06
FB       171.510956   173.613347   169.303148   171.472948  2.765860e+07
GOOG    1113.225134  1125.777606  1101.001658  1113.554101  1.741965e+06
NFLX     319.290319   325.219322   313.187330   319.620558  1.146962e+07

In [51]:
amzn = faang.loc['2018-Q4'].query("ticker == 'AMZN'")

z_amzn = amzn.drop(columns='ticker').apply(
    lambda x: (x - x.mean()) / x.std()
)

print(z_amzn)

                high       low      open     close    volume
date
2018-10-01  2.368006  2.502113  2.337813  2.385848 -1.630411
2018-10-02  2.227302  2.247433  2.190795  2.155037 -0.861879
2018-10-03  2.058955  2.139987  2.068570  2.025489 -0.920345
2018-10-04  1.819474  1.781561  1.850048  1.722816 -0.126582
2018-10-05  1.628173  1.554416  1.642819  1.584748 -0.298771
...              ...       ...       ...       ...       ...
2018-12-24 -2.159820 -2.187566 -2.179582 -2.226185 -0.141238
2018-12-26 -1.611714 -1.810493 -2.026617 -1.339674  1.123063
2018-12-27 -1.641276 -1.626703 -1.456521 -1.404343  0.849827
2018-12-28 -1.325261 -1.231588 -1.328549 -1.289951  0.496102
2018-12-31 -1.273456 -0.975763 -1.078283 -1.122691 -0.246405

[63 rows x 5 columns]

In [65]:
faang = pd.read_csv('./exercises/faang.csv')
faang['date'] = pd.to_datetime(faang['date'])
event_data = pd.DataFrame({
    'ticker': 'FB',
    'date': ['2018-07-25', '2018-03-19', '2018-03-20'],
    'event': [
        'Disappointing user growth announced after close.',
        'Cambridge Analytica story',
        'FTC investigation'
    ]
})

In [66]:
merged_data = pd.merge(
    faang.set_index(['date', 'ticker']), 
    event_data.set_index(['date', 'ticker']), 
    left_index=True, 
    right_index=True, 
    how='outer', 
    sort=False
).reset_index()

print(merged_data)

           date ticker         high          low         open        close  \
0    2018-01-02   AAPL    43.075001    42.314999    42.540001    43.064999
1    2018-01-02   AMZN  1190.000000  1170.510010  1172.000000  1189.010010
2    2018-01-02     FB   181.580002   177.550003   177.679993   181.419998
3    2018-01-02   NFLX   201.649994   195.419998   196.100006   201.070007
4    2018-01-03   AAPL    43.637501    42.990002    43.132500    43.057499
...         ...    ...          ...          ...          ...          ...
1253 2018-12-28   GOOG  1055.560059  1033.099976  1049.619995  1037.079956
1254 2018-12-31   GOOG  1052.699951  1023.590027  1050.959961  1035.609985
1255 2018-07-25     FB   218.619995   214.270004   215.720001   217.500000
1256 2018-03-19     FB   177.169998   170.059998   177.009995   172.559998
1257 2018-03-20     FB   170.199997   161.949997   167.470001   168.149994

           volume event
0     102223600.0   NaN
1       2694500.0   NaN
2      18151900.0   NaN
3      10966900.0   NaN
4     118071600.0   NaN
...           ...   ...
1253    1414800.0   NaN
1254    1493300.0   NaN
1255   58954200.0   NaN
1256   88140100.0   NaN
1257  129851800.0   NaN

[1258 rows x 8 columns]

C:\Users\James\anaconda3\lib\site-packages\pandas\core\indexes\multi.py:3587: RuntimeWarning: The values in the array are unorderable. Pass `sort=False` to suppress this warning.
  uniq_tuples = lib.fast_unique_multiple([self._values, other._values], sort=sort)

In [68]:
print(event_data)

  ticker        date                                             event
0     FB  2018-07-25  Disappointing user growth announced after close.
1     FB  2018-03-19                         Cambridge Analytica story
2     FB  2018-03-20                                 FTC investigation

In [82]:
faang = pd.read_csv('./exercises/faang.csv')
faang['date'] = pd.to_datetime(faang['date'])
faang.sort_values(['ticker', 'date'], inplace=True)
transform_faang = faang.groupby('ticker').transform(lambda x: x / x.iloc[0])
print(transform_faang)

          high       low      open     close    volume
251   1.000000  1.000000  1.000000  1.000000  1.000000
252   1.013059  1.015952  1.013928  0.999826  1.155033
253   1.006790  1.016661  1.013987  1.004470  0.877864
254   1.017818  1.022392  1.019276  1.015906  0.925814
255   1.019211  1.027591  1.024624  1.012133  0.804816
...        ...       ...       ...       ...       ...
999   1.242995  1.195783  1.234064  1.163177  0.870583
1000  1.262088  1.183246  1.192861  1.261600  1.313288
1001  1.267493  1.228636  1.275421  1.271050  1.115648
1002  1.298835  1.278272  1.315349  1.273586  1.002362
1003  1.339450  1.330468  1.326670  1.331178  1.231788

[1255 rows x 5 columns]

In [83]:
covid = pd.read_csv('./exercises/covid19_cases.csv')
covid['date'] = pd.to_datetime(covid['dateRep'])
covid.set_index('date', inplace=True)
covid.replace({'United_States_of_America': 'USA', 'United_Kingdom': 'UK'}, inplace=True)
covid.sort_index(inplace=True)

In [109]:
import pandas as pd

covid = pd.read_csv('./exercises/covid19_cases.csv')
covid['date'] = pd.to_datetime(covid['dateRep'])
covid.set_index('date', inplace=True)
covid.replace({'countriesAndTerritories': {'United_States_of_America': 'USA', 'United_Kingdom': 'UK'}}, inplace=True)
covid.sort_index(inplace=True)

In [98]:
# Sum the cases by date and country
grouped = covid.groupby('countriesAndTerritories').cases.sum().nlargest(5).index

covid[covid.countriesAndTerritories.isin(grouped)].groupby('countriesAndTerritories').cases.idxmax()

countriesAndTerritories
Brazil   2020-07-30
India    2020-09-17
Peru     2020-08-17
Russia   2020-07-18
USA      2020-07-25
Name: cases, dtype: datetime64[ns]

In [120]:
# Calculate 7-day rolling mean of the daily case difference
seven_day_avg = covid[covid['countriesAndTerritories'].isin(grouped)] \
    .groupby(['countriesAndTerritories', 'date']).cases.sum() \
    .groupby('countriesAndTerritories').apply(lambda x: x.diff().rolling(7).mean())

# Get the last week's data
last_week_seven_day_avg = seven_day_avg.groupby('countriesAndTerritories').last('1W')

print(last_week_seven_day_avg)

countriesAndTerritories
Brazil     6245.428571
India     13938.571429
Peru        -98.285714
Russia      786.285714
USA        6865.857143
Name: cases, dtype: float64

In [122]:
remove_china = covid[covid['countriesAndTerritories'] != 'China']
remove_china.groupby('countriesAndTerritories')['cases'].idxmax()

countriesAndTerritories
Afghanistan      2020-05-16
Albania          2020-08-25
Algeria          2020-07-25
Andorra          2020-09-15
Angola           2020-06-08
                    ...
Vietnam          2020-07-31
Western_Sahara   2020-07-14
Yemen            2020-06-16
Zambia           2020-07-18
Zimbabwe         2020-02-08
Name: cases, Length: 209, dtype: datetime64[ns]

In [125]:
cumulative_cases = covid.groupby('countriesAndTerritories')['cases'].sum()
cumulative_cases.rank(pct=True).sort_values(ascending=False)

countriesAndTerritories
USA                            1.000000
India                          0.995238
Brazil                         0.990476
Russia                         0.985714
Peru                           0.980952
                                 ...
Greenland                      0.023810
Montserrat                     0.016667
Falkland_Islands_(Malvinas)    0.016667
Holy_See                       0.009524
Anguilla                       0.004762
Name: cases, Length: 210, dtype: float64